In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/example/path/NYPD.csv')

In [3]:
df.head

<bound method NDFrame.head of        CMPLNT_NUM  ADDR_PCT_CD        BORO_NM CMPLNT_FR_DT CMPLNT_FR_TM  \
0       238496477         10.0      MANHATTAN   01/01/2022      2:55:00
1       241159861         70.0       BROOKLYN   01/01/2022     10:27:00
2       238539279          1.0      MANHATTAN   01/01/2022      3:50:00
3       238548450        123.0  STATEN ISLAND   01/01/2022     13:30:00
4       238526904         84.0       BROOKLYN   01/01/2022     23:05:00
...           ...          ...            ...          ...          ...
256981  247399171         40.0          BRONX   06/30/2022     23:40:00
256982  247564683         18.0      MANHATTAN   06/30/2022     10:24:00
256983  247361615         18.0      MANHATTAN   06/30/2022      1:10:00
256984  247552039         41.0          BRONX   06/30/2022      1:55:00
256985  247394269        120.0  STATEN ISLAND   06/30/2022     16:30:00

       CMPLNT_TO_DT CMPLNT_TO_TM CRM_ATPT_CPTD_CD HADEVELOPT  HOUSING_PSA  \
0        01/01/2022      3:10:00        COMPLETED     (null)          NaN
1        01/01/2022     10:32:00        COMPLETED     (null)          NaN
2        01/01/2022      3:55:00        COMPLETED     (null)          NaN
3        01/01/2022     14:30:00        COMPLETED     (null)          NaN
4        01/01/2022     23:10:00        COMPLETED     (null)          NaN
...             ...          ...              ...        ...          ...
256981   06/30/2022     23:55:00        COMPLETED     (null)          NaN
256982          NaN       (null)        COMPLETED     (null)          NaN
256983   06/30/2022      1:20:00        COMPLETED     (null)          NaN
256984   06/30/2022      2:01:00        COMPLETED     (null)          NaN
256985   06/30/2022     16:48:00        COMPLETED     (null)          NaN

        ...  TRANSIT_DISTRICT VIC_AGE_GROUP                  VIC_RACE VIC_SEX  \
0       ...               NaN         25-44            WHITE HISPANIC       M
1       ...               NaN         25-44                     BLACK       F
2       ...               NaN         45-64                     WHITE       M
3       ...               NaN         25-44            BLACK HISPANIC       F
4       ...               NaN         25-44  ASIAN / PACIFIC ISLANDER       M
...     ...               ...           ...                       ...     ...
256981  ...               NaN         18-24            WHITE HISPANIC       M
256982  ...               NaN         45-64                     WHITE       D
256983  ...               NaN         25-44  ASIAN / PACIFIC ISLANDER       F
256984  ...               NaN         45-64                     BLACK       F
256985  ...               NaN       UNKNOWN                   UNKNOWN       E

       X_COORD_CD Y_COORD_CD   Latitude  Longitude  \
0          984685     209908  40.742827 -73.998428
1          994524     175697  40.648921 -73.962975
2          983316     202389  40.722189 -74.003369
3          932290     136346  40.540762 -74.186943
4          987295     190704  40.690115 -73.989019
...           ...        ...        ...        ...
256981    1004893     232927  40.805983 -73.925433
256982     988842     217034  40.762386 -73.983422
256983     988953     218015  40.765076 -73.983019
256984    1011144     236472  40.815698 -73.902837
256985     948733     170819  40.635466 -74.127964

                            Lat_Lon          New Georeferenced Column
0           (40.742827, -73.998428)      POINT (-73.998428 40.742827)
1           (40.648921, -73.962975)      POINT (-73.962975 40.648921)
2           (40.722189, -74.003369)      POINT (-74.003369 40.722189)
3           (40.540762, -74.186943)      POINT (-74.186943 40.540762)
4           (40.690115, -73.989019)      POINT (-73.989019 40.690115)
...                             ...                               ...
256981  (40.80598253, -73.92543346)  POINT (-73.92543346 40.80598253)
256982      (40.762386, -73.983422)      POINT (-73.983422 40.762386)
256983      (40.765076, -73.983019)      POINT (-73.983019 40.765076)
256984      (40.815698, -73.902837)      POINT (-73.902837 40.815698)
256985      (40.635466, -74.127964)      POINT (-74.127964 40.635466)

[256986 rows x 36 columns]>

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [5]:
print(df.columns)

Index(['cmplnt_num', 'addr_pct_cd', 'boro_nm', 'cmplnt_fr_dt', 'cmplnt_fr_tm',
       'cmplnt_to_dt', 'cmplnt_to_tm', 'crm_atpt_cptd_cd', 'hadevelopt',
       'housing_psa', 'jurisdiction_code', 'juris_desc', 'ky_cd', 'law_cat_cd',
       'loc_of_occur_desc', 'ofns_desc', 'parks_nm', 'patrol_boro', 'pd_cd',
       'pd_desc', 'prem_typ_desc', 'rpt_dt', 'station_name', 'susp_age_group',
       'susp_race', 'susp_sex', 'transit_district', 'vic_age_group',
       'vic_race', 'vic_sex', 'x_coord_cd', 'y_coord_cd', 'latitude',
       'longitude', 'lat_lon', 'new_georeferenced_column'],
      dtype='object')

In [6]:
df.isnull().sum()

cmplnt_num                       0
addr_pct_cd                      3
boro_nm                          0
cmplnt_fr_dt                     0
cmplnt_fr_tm                     0
cmplnt_to_dt                 19589
cmplnt_to_tm                     0
crm_atpt_cptd_cd                 0
hadevelopt                       0
housing_psa                 240027
jurisdiction_code                0
juris_desc                       0
ky_cd                            0
law_cat_cd                       0
loc_of_occur_desc                0
ofns_desc                        0
parks_nm                         0
patrol_boro                      0
pd_cd                          293
pd_desc                          0
prem_typ_desc                    0
rpt_dt                           0
station_name                     0
susp_age_group                   0
susp_race                        0
susp_sex                         0
transit_district            251278
vic_age_group                    0
vic_race                         0
vic_sex                          0
x_coord_cd                       0
y_coord_cd                       0
latitude                         0
longitude                        0
lat_lon                          0
new_georeferenced_column         0
dtype: int64

In [7]:
df = df.replace('(null)', np.nan)

In [8]:
df.isnull().sum()

cmplnt_num                       0
addr_pct_cd                      3
boro_nm                        471
cmplnt_fr_dt                     0
cmplnt_fr_tm                     0
cmplnt_to_dt                 19589
cmplnt_to_tm                 19535
crm_atpt_cptd_cd                 0
hadevelopt                  256175
housing_psa                 240027
jurisdiction_code                0
juris_desc                       0
ky_cd                            0
law_cat_cd                       0
loc_of_occur_desc            41355
ofns_desc                        4
parks_nm                    255512
patrol_boro                      2
pd_cd                          293
pd_desc                        293
prem_typ_desc                  147
rpt_dt                           0
station_name                251278
susp_age_group               50189
susp_race                    50189
susp_sex                     50189
transit_district            251278
vic_age_group                    0
vic_race                        71
vic_sex                          0
x_coord_cd                       0
y_coord_cd                       0
latitude                         0
longitude                        0
lat_lon                          0
new_georeferenced_column         0
dtype: int64

In [9]:
df.head

<bound method NDFrame.head of        cmplnt_num  addr_pct_cd        boro_nm cmplnt_fr_dt cmplnt_fr_tm  \
0       238496477         10.0      MANHATTAN   01/01/2022      2:55:00
1       241159861         70.0       BROOKLYN   01/01/2022     10:27:00
2       238539279          1.0      MANHATTAN   01/01/2022      3:50:00
3       238548450        123.0  STATEN ISLAND   01/01/2022     13:30:00
4       238526904         84.0       BROOKLYN   01/01/2022     23:05:00
...           ...          ...            ...          ...          ...
256981  247399171         40.0          BRONX   06/30/2022     23:40:00
256982  247564683         18.0      MANHATTAN   06/30/2022     10:24:00
256983  247361615         18.0      MANHATTAN   06/30/2022      1:10:00
256984  247552039         41.0          BRONX   06/30/2022      1:55:00
256985  247394269        120.0  STATEN ISLAND   06/30/2022     16:30:00

       cmplnt_to_dt cmplnt_to_tm crm_atpt_cptd_cd hadevelopt  housing_psa  \
0        01/01/2022      3:10:00        COMPLETED        NaN          NaN
1        01/01/2022     10:32:00        COMPLETED        NaN          NaN
2        01/01/2022      3:55:00        COMPLETED        NaN          NaN
3        01/01/2022     14:30:00        COMPLETED        NaN          NaN
4        01/01/2022     23:10:00        COMPLETED        NaN          NaN
...             ...          ...              ...        ...          ...
256981   06/30/2022     23:55:00        COMPLETED        NaN          NaN
256982          NaN          NaN        COMPLETED        NaN          NaN
256983   06/30/2022      1:20:00        COMPLETED        NaN          NaN
256984   06/30/2022      2:01:00        COMPLETED        NaN          NaN
256985   06/30/2022     16:48:00        COMPLETED        NaN          NaN

        ...  transit_district vic_age_group                  vic_race vic_sex  \
0       ...               NaN         25-44            WHITE HISPANIC       M
1       ...               NaN         25-44                     BLACK       F
2       ...               NaN         45-64                     WHITE       M
3       ...               NaN         25-44            BLACK HISPANIC       F
4       ...               NaN         25-44  ASIAN / PACIFIC ISLANDER       M
...     ...               ...           ...                       ...     ...
256981  ...               NaN         18-24            WHITE HISPANIC       M
256982  ...               NaN         45-64                     WHITE       D
256983  ...               NaN         25-44  ASIAN / PACIFIC ISLANDER       F
256984  ...               NaN         45-64                     BLACK       F
256985  ...               NaN       UNKNOWN                   UNKNOWN       E

       x_coord_cd y_coord_cd   latitude  longitude  \
0          984685     209908  40.742827 -73.998428
1          994524     175697  40.648921 -73.962975
2          983316     202389  40.722189 -74.003369
3          932290     136346  40.540762 -74.186943
4          987295     190704  40.690115 -73.989019
...           ...        ...        ...        ...
256981    1004893     232927  40.805983 -73.925433
256982     988842     217034  40.762386 -73.983422
256983     988953     218015  40.765076 -73.983019
256984    1011144     236472  40.815698 -73.902837
256985     948733     170819  40.635466 -74.127964

                            lat_lon          new_georeferenced_column
0           (40.742827, -73.998428)      POINT (-73.998428 40.742827)
1           (40.648921, -73.962975)      POINT (-73.962975 40.648921)
2           (40.722189, -74.003369)      POINT (-74.003369 40.722189)
3           (40.540762, -74.186943)      POINT (-74.186943 40.540762)
4           (40.690115, -73.989019)      POINT (-73.989019 40.690115)
...                             ...                               ...
256981  (40.80598253, -73.92543346)  POINT (-73.92543346 40.80598253)
256982      (40.762386, -73.983422)      POINT (-73.983422 40.762386)
256983      (40.765076, -73.983019)      POINT (-73.983019 40.765076)
256984      (40.815698, -73.902837)      POINT (-73.902837 40.815698)
256985      (40.635466, -74.127964)      POINT (-74.127964 40.635466)

[256986 rows x 36 columns]>

In [11]:
df.duplicated().sum()

0

In [12]:
df.to_csv('nypd_cleaned.csv', index=False)