In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import math

In [29]:
sheets_names = pd.ExcelFile('/Users/wangyiming/Desktop/KPMG/KPMG.xlsx').sheet_names
print(sheets_names)

['Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

In [30]:
CusAddr_df = pd.read_excel('/Users/wangyiming/Desktop/KPMG/KPMG.xlsx', sheet_name='CustomerAddress', header=1, index_col='customer_id')
print(CusAddr_df.head())

                         address  postcode            state    country  \
customer_id
1             060 Morning Avenue      2016  New South Wales  Australia
2            6 Meadow Vale Court      2153  New South Wales  Australia
4             0 Holy Cross Court      4211              QLD  Australia
5            17979 Del Mar Point      2448  New South Wales  Australia
6               9 Oakridge Court      3216              VIC  Australia

             property_valuation
customer_id
1                            10
2                            10
4                             9
5                             4
6                             9

In [31]:
CusAddr_df['state'].replace('New South Wales', 'NSW', inplace=True)

In [32]:
CusAddr_df['state'].replace('Victoria', 'VIC', inplace=True)

In [33]:
print(CusAddr_df.head())

                         address  postcode state    country  \
customer_id
1             060 Morning Avenue      2016   NSW  Australia
2            6 Meadow Vale Court      2153   NSW  Australia
4             0 Holy Cross Court      4211   QLD  Australia
5            17979 Del Mar Point      2448   NSW  Australia
6               9 Oakridge Court      3216   VIC  Australia

             property_valuation
customer_id
1                            10
2                            10
4                             9
5                             4
6                             9

In [34]:
CusAddr_df.isna().sum()

address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [35]:
CusDemo_df = pd.read_excel('/Users/wangyiming/Desktop/KPMG/KPMG.xlsx', sheet_name='CustomerDemographic', header=1, index_col='customer_id')
print(CusDemo_df.head())

                 first_name  last_name  gender  \
customer_id
1                   Laraine  Medendorp       F
2                       Eli    Bockman    Male
3                     Arlin     Dearle    Male
4                    Talbot        NaN    Male
5            Sheila-kathryn     Calton  Female

             past_3_years_bike_related_purchases        DOB  \
customer_id
1                                             93 1953-10-12
2                                             81 1980-12-16
3                                             61 1954-01-20
4                                             33 1961-10-03
5                                             56 1977-05-13

                          job_title job_industry_category     wealth_segment  \
customer_id
1               Executive Secretary                Health      Mass Customer
2            Administrative Officer    Financial Services      Mass Customer
3                Recruiting Manager              Property      Mass Customer
4                               NaN                    IT      Mass Customer
5                     Senior Editor                   NaN  Affluent Customer

            deceased_indicator  \
customer_id
1                            N
2                            N
3                            N
4                            N
5                            N

                                                       default owns_car  \
customer_id
1                                                           "'      Yes
2                                 <script>alert('hi')</script>      Yes
3                                          2018-02-01 00:00:00      Yes
4            () { _; } >_[$($())] { touch /tmp/blns.shellsh...       No
5                                                          NIL      Yes

             tenure
customer_id
1              11.0
2              16.0
3              15.0
4               7.0
5               8.0

/var/folders/pj/wyg72s1n3wx2c7zdv2phkn1m0000gn/T/ipykernel_1797/4178728755.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  CusDemo_df = pd.read_excel('/Users/wangyiming/Desktop/KPMG/KPMG.xlsx', sheet_name='CustomerDemographic', header=1, index_col='customer_id')

In [36]:
CusDemo_df = CusDemo_df.drop('default', axis='columns')

In [59]:
print(CusDemo_df.head())

                 first_name  last_name  gender  \
customer_id
1                   Laraine  Medendorp  Female
2                       Eli    Bockman    Male
3                     Arlin     Dearle    Male
4                    Talbot    NoValue    Male
5            Sheila-kathryn     Calton  Female

             past_3_years_bike_related_purchases        DOB  \
customer_id
1                                             93 1953-10-12
2                                             81 1980-12-16
3                                             61 1954-01-20
4                                             33 1961-10-03
5                                             56 1977-05-13

                          job_title job_industry_category     wealth_segment  \
customer_id
1               Executive Secretary                Health      Mass Customer
2            Administrative Officer    Financial Services      Mass Customer
3                Recruiting Manager              Property      Mass Customer
4                           NoValue                    IT      Mass Customer
5                     Senior Editor               NoValue  Affluent Customer

            deceased_indicator owns_car  tenure        age  age_class
customer_id
1                           No      Yes    11.0  68.852097         70
2                           No      Yes    16.0  41.672894         40
3                           No      Yes    15.0  68.578306         70
4                           No       No     7.0  60.876574         60
5                           No      Yes     8.0  45.267766         50

In [38]:
CusDemo_df['gender'].replace(['F', 'Femal'], 'Female', inplace=True)

In [39]:
CusDemo_df['gender'].replace('M', 'Male', inplace=True)

In [40]:
CusDemo_df['gender'].replace('U', 'Unknown', inplace=True)

In [41]:
CusDemo_df['deceased_indicator'].replace('N', 'No', inplace=True)
CusDemo_df['deceased_indicator'].replace('Y', 'Yes', inplace=True)

In [42]:
CusDemo_df = CusDemo_df[CusDemo_df['DOB'] != CusDemo_df.DOB.min()] #1843-12-21 is an incorrect date

In [43]:
CusDemo_df.DOB.min()

Timestamp('1931-10-23 00:00:00')

In [44]:
CusDemo_df.isna().sum()

first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [45]:
CusDemo_df["last_name"].fillna("NoValue", inplace = True)

In [46]:
CusDemo_df['job_title'].fillna("NoValue", inplace = True)

In [47]:
CusDemo_df['job_industry_category'].fillna("NoValue", inplace = True)

In [48]:
CusDemo_df=CusDemo_df.dropna()

In [49]:
CusDemo_df['age'] = (dt.datetime.now() - CusDemo_df['DOB']) / np.timedelta64(1, 'Y')

In [58]:
CusDemo_df['age_class'] = ((round(CusDemo_df['age'] / 10)) * 10).astype(int)

In [84]:
Trans_df = pd.read_excel('/Users/wangyiming/Desktop/KPMG/KPMG.xlsx', sheet_name='Transactions', header=1, index_col='customer_id')
print(Trans_df.head())

             transaction_id  product_id transaction_date  online_order  \
customer_id
2950                      1           2       2017-02-25           0.0
3120                      2           3       2017-05-21           1.0
402                       3          37       2017-10-16           0.0
3135                      4          88       2017-08-31           0.0
787                       5          78       2017-10-01           1.0

            order_status           brand product_line product_class  \
customer_id
2950            Approved           Solex     Standard        medium
3120            Approved   Trek Bicycles     Standard        medium
402             Approved      OHM Cycles     Standard           low
3135            Approved  Norco Bicycles     Standard        medium
787             Approved  Giant Bicycles     Standard        medium

            product_size  list_price  standard_cost  product_first_sold_date
customer_id
2950              medium       71.49          53.62                  41245.0
3120               large     2091.47         388.92                  41701.0
402               medium     1793.43         248.82                  36361.0
3135              medium     1198.46         381.10                  36145.0
787                large     1765.30         709.48                  42226.0

In [85]:
Trans_df.isna().sum()

transaction_id               0
product_id                   0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [86]:
Trans_df = Trans_df.dropna()

In [87]:
Trans_df.duplicated().sum()

0

In [88]:
Trans_df.shape

(19445, 12)

In [89]:
Trans_df['product_first_sold_date'] = pd.TimedeltaIndex(Trans_df['product_first_sold_date'], unit='d') + dt.datetime(1900,1,1)

In [92]:
print(Trans_df.head())

             transaction_id  product_id transaction_date  online_order  \
customer_id
2950                      1           2       2017-02-25           0.0
3120                      2           3       2017-05-21           1.0
402                       3          37       2017-10-16           0.0
3135                      4          88       2017-08-31           0.0
787                       5          78       2017-10-01           1.0

            order_status           brand product_line product_class  \
customer_id
2950            Approved           Solex     Standard        medium
3120            Approved   Trek Bicycles     Standard        medium
402             Approved      OHM Cycles     Standard           low
3135            Approved  Norco Bicycles     Standard        medium
787             Approved  Giant Bicycles     Standard        medium

            product_size  list_price  standard_cost product_first_sold_date  \
customer_id
2950              medium       71.49          53.62              2012-12-04
3120               large     2091.47         388.92              2014-03-05
402               medium     1793.43         248.82              1999-07-22
3135              medium     1198.46         381.10              1998-12-18
787                large     1765.30         709.48              2015-08-12

              profit
customer_id
2950           17.87
3120         1702.55
402          1544.61
3135          817.36
787          1055.82

In [91]:
Trans_df['profit'] = Trans_df['list_price'] - Trans_df['standard_cost']